__pycache__
demo/*.hdf5
demo/*.html
multiview_generator.egg-info
demo/tutorials/supplementary_material/demo.hdf5
demo/tutorials/supplementary_material/tuto.hdf5
demo/tutorials/supplementary_material/report.md
demo/tutorials/supplementary_material/*.html
demo/tutorials/supplementary_material/tuto/
.idea*
_static
/.coverage
/multiview_generator/tests/.coverage
/demo/report_demo.md
docs/sources/_static/demo.hdf5
docs/source/_static/supplementary_material/tuto/*
docs/source/_static/supplementary_material/*.html
docs/source/_static/supplementary_material/report_demo.md
docs/source/_static/supplementary_material/tuto.hdf5
.gitignore
/multiview_generator/tests/htmlcov/
/docs/build/
